@model ExamAndQuiz.Models.SubjectSection

@{
    ViewBag.Title = "Yenilə";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

    <h2>Yenilə</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Movzu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movzu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Movzu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FennID, "FennID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FennID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FennID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Yenilə" class="btn btn-outline-info" />
                <a href="/SubjectSection/Index" class="btn btn-outline-dark">Geri</a>
            </div>
        </div>
    </div>
}

